@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.wrapper {
  background-color: white;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 20;
}

.spinner {
  animation: spin 0.5s linear infinite;
  border-radius: 50%;
  border: 10px solid orange;
  border-top-color: transparent;
  display: block;
  height: 100%;
  left: 0;
  margin-inline: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
