.tr {
  border-bottom: 3px solid black;
}

.td {
  border-right: 3px solid black;
  font-size: 16px;
  height: 33px;
  padding: 3px;
  width: 33.3333%;
}

.td:last-of-type {
  border-right: none;
}

.transcription {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.audio-button {
  appearance: none;
  background-color: tomato;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  width: 30px;
}
