#__next,
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font: bold 16px "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  overflow-y: scroll;
}

svg {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.wrapper {
  margin-inline: auto;
  max-width: 800px;
  height: 100%;
}
